<div class="modal-header">
    <h3 class="modal-title text-center"><img src="../public/assets/Logo.png" /></h3>
</div>
<div class="modal-body row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3><label class="font-tradewinds">Nickname:</label></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" ng-model="loginParams.nickname" />
            </div>
        </div>
    </div>
   
</div>
<div class="modal-footer">
    <button class="btn btn-gui" type="button" ng-click="loginAsGuest()">Play As Guest</button>
</div>